$containerWidth: 940px;
$z-fixed-menu:100;
/*var fonts*/
    $baseFontSize: 18px;
/*var titles*/
    $titleSizeXl: 48px;
    $titleSizeL: 36px;
    $titleSizeM: 27px;

/*var colors*/
    $light:#F2F5F4;
    $blue:#61C4D9;
    $black:#292929;
    $green:#365A49;
    $darkGreen:#2E4E3F;
    $lightGold:#DEE2BD;
    $gray:#666666;


