.advantages{
    display: flex;

    justify-content: center;
    text-align: center;
    
    @include phones{
        flex-direction: column;
        flex:1;
        height: 90%;
        justify-content: space-between;
    }
}
.advantages__item{
    flex:1;
    padding: 0 3%;
    position: relative;

    &::before{
        content: url('../img/decor/decor__why/Shape.png');
        display: block;
        position: absolute;
        top: rem(60px);
        right: 0;
        transform: translateX(50%);
        @include tablets{
            display: none;
        }
        @include phones{
            display: none;
        }
    }
    &:first-child{
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
        
        &::before{
            display: none;
        }
    }
}
