.btn{
    display: inline-flex;
    align-items: center;
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    font-weight: 800;
    text-transform: uppercase;
    font-size: rem(16px);

  

    &_theme_white{
        background: #fff;
        color: $green;

        &:hover{
            background:  $green;
            color: #fff;
            transition: .6s;
        }
    }

    &_theme_green{
        background: $green;
        color:#fff;
        &:hover{
            background: $darkGreen;
            transition: .6s;
        }
    }
    &_theme_noBg{
        background: transparent;
        font-size: rem(18px);
        font-weight: 400;
        text-transform: none;
        color: #497870;

        &:hover{
            color: $black;
            transition: .6s;
        }
    }
}
