.checkbox{
    display: flex;
    cursor: pointer;
    margin-bottom: rem(10px);
    margin-right: rem(10px);

    &:last-child{
        margin-right: 0;
        margin-bottom: 0;

    }
}
.checkbox__elem{
    display: none;
   
}
.checkbox__visible{
    content: "";
    display: block;
    background: #FFF;
    width: rem(25px);
    height: rem(25px);
    border-radius: 25%;
    position: relative;
    margin-right: rem(10px);

    &:last-child{

        margin-right: 0;
    }

    &::before{
        content: '';
        display: none;
        width: rem(13px);
        height: rem(13px);
    
        
        background: url("../img/decor/decor_forms/Vector.svg") center center no-repeat;
       
        background-size:rem(13px) rem(13px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
}
.checkbox__elem{
    display: none;
    &:checked ~ .checkbox__visible{
        &:before{
            display: block;
        }
    }
}