
.features__list{
    display: flex;
    align-items: flex-start;
    max-width: 74%;
    flex-wrap: wrap;
    
 }

.features__item{
    margin-right: 38px;
    max-width: 136px;

   &:last-child{
       margin-right: 0;
   }
}