.feature{
    display: flex;
    align-items: flex-start;

   
}
.feature__icons{
 
    margin-right: rem(12px);
    flex-shrink: 0; 

    
}

.feature__icon{
    fill:#C6F7FF;
    width: rem(38px);
    height: rem(38px);
}

.feature__desc{
    max-width: rem(114px);
    font-size: rem(16px);
    padding: 0 7% 0 0;
    line-height: 1.2;   
}