.fixed-menu{

    position: fixed;
    top:50%;
    right: 3%;
    transform: translateY(-50%);
    
    @include tablets{
        display: none;
    }
}

.fixed-menu__item{
    margin-bottom: rem(5px);
    
    &_active{
        .fixed-menu__link{
            border-color: #fff;
        }       
    }
    &:last-child{
        margin-bottom: 0;
    }
}
.fixed-menu__link{
    display: block;
    width: rem(18px);
    height: rem(18px);
    position: relative;
    border-radius: 50%;
    border:rem(1px) solid transparent;

    &::before{
        content: '';
        display: block;
        width: rem(9px);
        height: rem(9px);
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}