.forms{
    display: flex;
    
    @include tablets{
        flex-direction: column;
        margin-right: 0;
        padding: 0 18%;
    }
    @include phones{
        padding: 0;
    }

}
.forms__col{
    flex: 1;
    margin-right: rem(28px);
   
   
    &:last-child{
        margin-right: 0;
    }
    @include tablets{
        margin-right: 0;
    }
    @include phones{
        margin-right: 0;
    }
}
.forms__row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(12px);
    
    

    @include tablets{
        margin-bottom: rem(14px);
        
    }   
}
.forms__label{
    flex: 1;
    margin-right: rem(14px);

    &:last-child{
        margin-right: 0;
    }
}
.forms__label_textarea{
    margin-bottom: rem(20px);
    @include tablets{
        margin-bottom: 0;
    }
}
.forms__input{
    border: rem(3px) solid transparent;
    width: 100%;
    line-height: 1.42;
    padding: rem(18px) rem(12px) ;
    color: $black;
    border-radius: rem(5px);
    @include tablets{
        height: rem(36px);
    }
    &:focus{
        border:rem(3px) solid $lightGold;
        
        outline: none;
    }
    &_textarea{
        height: rem(172px);
        resize: none;
        @include tablets{
            height: rem(82px);
          
        }
      
     
    }
   
}
.forms__controls{
    display: flex;
    flex-wrap: wrap;
    @include phones{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}
.form__btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    @include tablets{
        justify-content: center;
    }
    @include phones{
        justify-content: center;
    }
}



.forms__btn{
    display: inline-flex;
    padding: rem(47px) 0 0 0 ;
    margin-right: rem(22px);

    &:last-child{

        margin-right: 0;
    }
    @include tablets{
        display: inline-flex;
        padding: 0 0 40px 0 ;
        margin-right: rem(10px);
        
        
    }
    @include phones{
        padding: rem(46px) 0;
    }
}