.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: rem(40px);

    @include tablets{
        padding: 0 rem(15px);
    }
    &__logo-wrapper{
        flex-shrink: 0;
        margin-right: rem(40px);
    }

}
.menu{
    @include tablets{
        display: none;
    }
    flex: 1;

 
}
.menu__list{
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
}
.menu__item{

    margin-right: rem(27px);
    
    &:last-child{
        margin-right: 0;
    }

    .menu__link:hover{
        color: $green;
        transition: .6s;
    }
}
.phone{
    flex-shrink: 0;
    font-size: rem(22px);
 
  
}
.phone__link.phone__link_header{
    @include tablets{
        display: none;
    }
}
.phone__link{
    display: inline-flex;
    align-items: center;
    padding: 0 rem(12px);
    
}
.phone__icon-wrapper{
    margin-right: rem(6px);
}
.phone__icon{
    fill:#fff;


    width: rem(14px);
    height: rem(14px);
}