.interactive-avatar{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border:6px solid transparent;
    overflow: hidden;
    position: relative;

    &__active{
        border:6px solid $green;
    }

    

}
.interactive-avatar__link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.interactive-avatar__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviews__switcher-item{
    margin-right: 6px;

    &:last-child{
        margin-right: 0;
    }
}