.radio{
    display: flex;
    cursor: pointer;
    margin-bottom: rem(10px);
    margin-right: rem(23px);

    &:last-child{
        margin-right: 0;
        margin-bottom: 0;

    }
    &__checkbox{
        .radio__visible{
            border-radius: 20%;
      
        }
        
        &::before{
            content: '';
            display: block;
            background: url('../../img/decor/decor_forms/') center center no-repeat;
            position: absolute;
        }
    }
}
.radio__elem{
    display: none;
} 
.radio__visible{
    content: "";
    display: block;
    background: #FFF;
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    position: relative;
    margin-right: rem(10px);

    &:last-child{

        margin-right: 0;
    }
    &::before{
        content: '';
        display: none;
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;  
        background: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.radio__elem{
    display: none;
    &:checked ~ .radio__visible{
        &:before{
            display: block;
        }
    }
}