.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: rem(650px);
    height: 100vh;

    @include tablets{
        min-height: 1000px;
    }
    @include phones{
        min-height: 800px;
    }
}
.sections__container{
    display: flex;
    flex-direction: column;
    justify-content:center;
     
    
    padding: rem(24px) rem(0px) rem(59px) rem(0px);
    
    @include tablets{
        background: none;
        
    }
    @include phones{
     
    }

    


    
}
.section-why{
    background: url('../img/decor/decor__why/leaf4.png') left center no-repeat;
    position: relative;

    @include tablets{
        background-position: left top 17%;
    }
    @include phones{
        background: none;
     
    }
    &::before{
        content: url('../img/decor/decor__why/razz.png');
        display: block;
        position: absolute;
        left: 0;
        bottom: rem(-115px);
   
    }
    &::before, &::after{
        @include phones{
            display: none;
            
        }
    }
}
.section-reviews{
   position: relative;
    &::after{
        content: url('../img/decor/decor__reviews/berries6.png');
        display: block;
        position: absolute;
        left: 0;
        bottom: rem(-86px);
        z-index: 2;

        @include phones{
            display: none;
            
        }
        
    }
    &::before{
        content: url('../img/decor/decor__reviews/leaf5.png');
        display: block;
        position: absolute;
        left: 0;
        bottom: rem(-160px);
        
    }
    @include tablets{
        .top-line__title{
            padding: 0;
            margin-bottom: rem(33px);
        }
    }

  
}
.sections-forms{
    background: url('../img/bg/bg_forms.png') no-repeat;
    position: relative;
    &::after{
        content: url('../img/decor/decor_forms/leaf3_1.png');
        
        display: block;
        position: absolute;
        right: 1%;
        bottom: rem(110px);
    }

    &::before{
        content: url('../img/decor/decor_forms/img1.png');
        
        display: block;
        position: absolute;
        left: 5%;
        bottom: rem(110px);
    }
    &::before, &::after{
        @include tablets{
            display: none;
            
        }
    }
}
.sections-forms__title{
    color: $green;
    text-align: center;
    margin-bottom: rem(83px);

    @include tablets{
        margin-bottom: rem(30px);
    }
    @include phones{
        font-size: rem(40px);
        margin-bottom: rem(39px);
    }
}