.title{
    font-weight: 700;
    text-transform: uppercase;
    color: $black;

    &_size_xl{
        font-size: rem($titleSizeXl);
        line-height: 1.2;
    }
    &_size_m{
        font-size: rem($titleSizeM);
    }
}
.hero__title{
    color: #fff;
}
