.radio {
  display: flex;
}

.radio__elem {
  display: none;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
}
.radio__visible::before {
  width: 13px;
  height: 13px;
  position: absolute;
}